.page-wrapper{
    width: 100px;
    height: 100px;
}



.header{
    height: 100px;;
    background-color: blueviolet;
}

.asider{
    height:500;
    background-color: red;
    width: 29%;
    vertical-align: middle;
}

.main{
    height: 500px ;
    width: 70%;
    background-color: green;
    vertical-align: middle;

    display: inline-block;
}

.middle-section{
    font-size: 0;

}

.footer{
    height: 100px;
    background-color: brown;
}

.diva{
    height: 100px;
    width: 30%;
    background-color: black;

}