table {
  border: none;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
th,
td {
  border: none;
  padding: 1rem;
  color: white;
}
th {
  background-color: rgb(50, 50, 180);
}
td {
  background-color: rgb(144, 144, 238);
}
